* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, sans-serif;
}

body {
   background-image: url('image/bodycare.jpg');
   background-size: cover;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.container {
   display: flex;
   align-items: center;
   width: 80%;
   max-width: 1200px;
   margin: 0px auto;
}

.form-box {
   background: rgba(255, 255, 255, 0.479);
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.623);
}

h2 {
   margin-bottom: 5px;
   color: #596c74d8;
}

.input-box {
   margin-bottom: 15px;
}

.input-box label {
   display: block;
   margin-bottom: 5px;
   color: #000000;
}

.input-box input {
   width: 100%;
   padding: 10px;
   border: 1px wavy #ccc;
   border-radius: 5px;
}

.Normal {
   width: 100%;
   padding: 10px;
   background-color: #4CAF50;
   color: white;
   border: none;
   border-radius: 9px;
   cursor: pointer;
   font-size: 16px;
}
.googleButton{
    width: 100%;
   padding: 10px;
   background-color: #ffffff8f;
   color: green;
   border: none;
   border-radius: 9px ;
   cursor: pointer;
   font-size: 16px;
   margin-top: 10px;
   line-height: 2rem;
}

button:hover {
   /* background-color: #45a049; */
   font-size: 15px;
   /* transition: 2s ; */
}

p{
    font-family: sans-serif;
    color: black;
    margin-top: 10px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 35px;
    cursor: pointer;
    font-size: 14px;
    height: 20px;
    opacity: 0.7;
}

.toggle-password.hover {
    background-color: #45a049;
}

.google{
   margin: auto;
   padding: auto;
}

a:hover{
   color: green;
   text-decoration: none;
}

a:active{
   background-color: black;
   color: white;
   text-decoration: none;
}

@media (max-width: 480px) {
    body {
        height: auto;
        padding: 20px 0;
    }

    .form-box {
        padding: 10px;
        width: 90%;
    }

    h2 {
        font-size: 1.2rem;
    }

    .input-box input {
        padding: 8px;
    }

    button {
        padding: 8px;
        font-size: 14px;
    }
}